{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Home Page{% endblock title %}</title>

  <link rel="stylesheet" href="{% static 'style1.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">

  
  {% block extra_css %}{% endblock extra_css %}
</head>
<body>

  <!-- Navbar -->
  <div class="navbar">
    <div class="left">
      <a href="{% url 'home'%}" class="logo">📑 OnlinePaperMaker</a>
      <div class="menu">
        <a href="{% url 'home' %}" style="display:flex;align-items:center;gap:5px;text-decoration:none;color:hsl(204,30%,45%);">
          <img src="https://cdn-icons-png.flaticon.com/512/67/67466.png" alt="Home Icon" style="width:20px; height:20px;">
          Home
        </a>
        <a href="{% url 'help' %}" style="display:flex;align-items:center;gap:5px;text-decoration:none;color:hsl(204,30%,45%);">
          <img src="https://cdn-icons-png.flaticon.com/512/1828/1828911.png" alt="Help Icon" style="width:20px; height:20px;">
          Help
        </a>

        <a href="{% url 'send' %}" style="display:flex;align-items:center;gap:8px;text-decoration:none;color:hsl(204,30%,45%);font-weight:500;font-family:Arial,sans-serif;">
          <img src="https://cdn-icons-png.flaticon.com/512/561/561127.png" alt="Send Feedback Icon" style="width:22px; height:22px;">
          Send Feedback
        </a>
        <a href="#" style="display:flex;align-items:center;gap:5px;text-decoration:none;color:hsl(204,30%,45%);">
          <img src="https://cdn-icons-png.flaticon.com/512/724/724933.png" alt="Install App Icon" style="width:20px; height:20px;">
          Install App
        </a>
      </div>
    </div>
    <div class="right">
      <div class="auth-buttons">
        <a href="{% url 'login_page'%}">
          <button class="login">Login</button>

        </a>
        <a href="{% url 'register' %}">
        <button class="signup">Sign Up</button>
        </a>
      </div>
    </div>
  </div>


  
  <!-- Page Content -->
  <main>
    {% block text %}{% endblock text %}
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="links">
      <a href="{% url 'term_page' %}">Terms of Services</a>
      <a href="{% url 'contact_page' %}">Contact</a>
      <a href="{% url 'about' %}">About</a>
    </div>
    <p>© 2025 OnlinePaperMaker</p>
  </footer>

  <!-- Global JS -->
y  {% block extra_js %}{% endblock extra_js %}
</body>
</html>
