{% extends "base.html" %}
{% load static %}
{% block text %}


  <!-- Hero Section -->
  <section class="hero">
    <div class="computer">
      <button>Sign Up Free</button>
    </div>
    <div class="content">
      <h1>Online Paper Maker Tool</h1>
      <p>
        This web application is a simple and free tool that prepares your 
        image format questions to test paper in PDF format without 
        advertising watermarks.
      </p>
      <button class="btn">⬛ Go to App</button>
      <div class="links">
        <a href="#">Login</a>
        <a href="#">Sign Up free</a>
      </div>
    </div>
  </section>

  <!-- Features Section -->
  <section class="features" style="
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 40px; 
    justify-items: center;
  ">
    <div class="feature-card">
      <div class="icon">
        <img src="https://onlinetestmaker.net/assets/images/features/prepare.png" alt="Prepare Test">
      </div>
      <div>
        <h3>Prepare Test</h3>
        <p>Convert your multiple choice questions to test paper in PDF format.</p>
      </div>
    </div>
    
    <div class="feature-card">
      <div class="icon">
        <img src="https://onlinetestmaker.net/assets/images/features/omr.png" alt="Answer Sheet Reader">
      </div>
      <div>
        <h3>Answer Sheet Reader</h3>
        <p>Quickly read your answer sheets through the application with the camera of your device.</p>
      </div>
    </div>

    <div class="feature-card">
      <div class="icon">
        <img src="https://onlinetestmaker.net/assets/images/features/online.png" alt="Publish Online Exam">
      </div>
      <div>
        <h3>Publish Online Exam</h3>
        <p>Publish the tests you have prepared as a timed online exam.</p>
      </div>
    </div>
    <div class="feature-card">
      <div class="icon">
        <img src="https://onlinetestmaker.net/assets/images/features/crop.png" alt="Crop Tool">
      </div>
      <div>
        <h3>Crop Tool</h3>
        <p>
          Easily crop questions using the crop tool.  
          Select only the needed part of your screen and remove extra content.  
          This helps you create clean and professional question papers.  
        </p>
      </div>
    </div>
  </section>
    <script>
    
    
      // Language Modal
      const langBtn = document.getElementById('langBtn');
      const langModal = document.getElementById('langModal');
      langBtn.addEventListener('click', () => { langModal.style.display = 'flex'; });
      function closeLangModal() { langModal.style.display = 'none'; }
      window.addEventListener('click', (e) => { if (e.target == langModal) langModal.style.display = 'none'; });
  </script>



{% endblock text %}